:root {
  --bg: #f5f5eb;
  --border-color: #d2d9e2;
  --color-text: #000;
  --color-accent: #1966da;
  --height: 20vh;
  --font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  min-height: 100vh;
}
html {
  font-size: 80%;
}
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  font-size: 1rem;
  color: var(--color-text);
}
img {
  max-width: 100%;
  height: auto;
}
.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
}
.h1 {
  margin: 1rem 0 1.25rem;
  font-size: 1.5rem;
}
.page {
  padding: 50px 20px;
  margin: auto;
}
.accordion {
  margin-bottom: 10px;
}
.accordion__radio {
  display: none;
}
.accordion__section {
  display: block;
  padding: 1.25rem 0;
  border-top: 2px solid var(--border-color);
}
.accordion__title,
.accordion__section:active > .accordion__title {
  color: var(--color-accent);
}
.accordion__section:active * {
  opacity: 0.95;
  transition: opacity 0.35s ease-out;
}
.accordion__title {
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 1rem;
  color: var(--color-accent);
  transition: color 0.25s ease;
}
.accordion__icon {
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 auto;
  opacity: 0;
  transform-origin: center;
}
.accordion__container {
  height: 0;
  overflow: hidden;
}
.accordion__image {
  margin: 1.5rem auto 0;
  display: block;
  height: 100%;
  opacity: 0;
  transition-delay: 0.25s;
}
.accordion__section:hover > .accordion__container,
.accordion__radio:checked ~ .accordion__section > .accordion__container {
  height: var(--height);
  transition: height 0.35s linear;
}
.accordion__radio:checked
  ~ .accordion__section:not(:active)
  > .accordion__title {
  color: var(--color-text);
}
.accordion__section:hover > .accordion__title .accordion__icon,
.accordion__radio:checked ~ .accordion__section .accordion__icon {
  transform: rotate(45deg);
  transition: transform 0.25s ease;
}
.accordion__section:hover > .accordion__container .accordion__image,
.accordion__radio:checked ~ .accordion__section .accordion__image {
  opacity: 1;
  transition: opacity 0.56s ease-out;
}
@media screen and (min-width: 820px) {
  html {
    font-size: 100%;
  }
  .accordion__container {
    --height: 30vh;
  }
  .page {
    max-width: 50%;
  }
  .h1 {
    font-size: 2rem;
  }
  .accordion__title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1920px) {
  .page {
    max-width: 60%;
  }
  .accordion__title {
    font-size: 1.5rem;
  }
}
@media (hover: hover) {
  .accordion:hover .accordion__section {
    cursor: pointer;
  }
  .accordion:hover .accordion__section .accordion__icon {
    opacity: 1;
    transition: opacity 0.35s ease-out;
  }
  .accordion:hover .accordion__section:not(:active) .accordion__title {
    color: var(--color-text);
  }
}
